{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
    {{ fireHook('view.admin.forums.delete.start') }}

    <div class="blockform">
        <h2><span>Confirm delete language</span></h2>
        <div class="box">
            <form method="post" action="{{ pathFor('adminLanguages.delete') }}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <input type="hidden" name="lid" value="{{ lid }}">
                <div class="inform">
                    <fieldset>
                        <legend class="info">Important! Read before deleting</legend>
                        <div class="infldset">
                            <p>Are you sure that you want to delete the lang:  <strong>{{ language }}</strong></p>
                            <p class="warntext">WARNING! Deleting a lang will delete all translations and email templates!</p>
                            <label><input class="checkbox-inline" type="checkbox" name="agree" value="1">I know</label>
                        </div>
                    </fieldset>
                </div>
                <p class="buttons"><input type="submit" name="del_forum_comply" value="{{ trans('Delete') }}" />
                    <a href="javascript:history.go(-1)">{{ trans('Go back') }}</a></p>
            </form>
        </div>
    </div>


    {{ fireHook('view.admin.forums.admin_forums.end') }}
{% endblock content %}
