{{ fireHook('view.admin.menu.start') }}

<div id="adminconsole" class="block2col">
    <div id="adminmenu" class="blockmenu">
        <h2><span>{{ trans('Moderator menu') }}</span></h2>
        <div class="box">
            <div class="inbox">
                <ul>
                    <li{{ page == 'index' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminIndex') }}">{{ trans('Index') }}</a>
                    </li>
                    <li{{ page == 'users' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminUsers') }}">{{ trans('Users') }}</a>
                    </li>
            {% if is_admin or userGet('g_mod_ban_users') == '1' %}
                    <li{{ page == 'bans' ? ' class="isactive"': '' }}>
                        <a href="{{ pathFor('adminBans') }}">{{ trans('Bans') }}</a>
                    </li>
            {% endif %}

            {% if is_admin or settings('o_report_method') == '0' or settings('o_report_method') == '2' %}
                    <li{{ page == 'reports' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminReports') }}">{{ trans('Reports') }}</a>
                    </li>
            {% endif %}

                </ul>
            </div>
        </div>

    {% if is_admin %}

        <h2 class="block2"><span>{{ trans('Admin menu') }}</span></h2>
        <div class="box">
            <div class="inbox">
                <ul>
                    <li{{ page == 'options' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminOptions') }}">{{ trans('Options') }}</a>
                    </li>
                    <li{{ page == 'permissions' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminPermissions') }}">{{ trans('Permissions') }}</a>
                    </li>
                    <li{{ page == 'categories' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminCategories') }}">{{ trans('Categories') }}</a>
                    </li>
                    <li{{ page == 'forums' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminForums') }}">{{ trans('Forums') }}</a>
                    </li>
                    <li{{ page == 'groups' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminGroups') }}">{{ trans('User groups') }}</a>
                    </li>
                    <li{{ page == 'plugins' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminPlugins') }}">{{ trans('Plugins') }}</a>
                    </li>
                    <li{{ page == 'censoring' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminCensoring') }}">{{ trans('Censoring') }}</a>
                    </li>
                    <li{{ page == 'parser' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminParser') }}">{{ trans('Parser') }}</a>
                    </li>
                    <li{{ page == 'maintenance' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('adminMaintenance') }}">{{ trans('Maintenance') }}</a>
                    </li>
                </ul>
            </div>
        </div>

    {% endif %}

    {#// Did we find any plugins?#}
    {% if plugins is not empty %}

        <h2 class="block2"><span><?= __('Plugins menu') ?></span></h2>
        <div class="box">
            <div class="inbox">
                <ul>

                {% for plugin in plugins %}
                {% set plugin_url = slug(plugin) %}
                    <li{{ page == plugin_url ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('infoPlugin', {'name': plugin_url}) }}">{{ plugin }}</a>
                    </li>
                {% endfor %}


                </ul>
            </div>
        </div>

    {% endif %}

    </div>

{{ fireHook('view.admin.menu.end') }}
