{% extends '@forum/layout.html.twig' %}

{% block content %}

    {% include '@forum/admin/menu.html.twig' %}

    {{ fireHook('view.admin.plugins.start') }}

    <div class="block">
        <h2>Plugins</h2>
        <div class="box">
            <div class="inbox">
                <table class="table">
                    <caption>{{ trans('Available plugins') }}</caption>
                    <thead>
                    <tr>
                        <th>{{ trans('Extension') }}</th>
                        <th>{{ trans('Description') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for plugin in availablePlugins %}
                        <tr>
                            <td>
                                <strong>{{ plugin.title }}</strong>
                                <small>{{ plugin.version }}</small>
                                <div class="plugin-actions">
                                    {% if plugin.name in activePlugins %}
                                        <a href="{{ pathFor('deactivatePlugin', {'name': plugin.name}) }}">{{ trans('Deactivate') }}</a>
                                    {% else %}
                                        <a href="{{ pathFor('activatePlugin', {'name': plugin.name}) }}">{{ trans('Activate') }}</a>
                                        <br>
                                        <!-- <a href="{{ pathFor('uninstallPlugin', {'name': plugin.name}) }}">{{ trans('Uninstall') }}</a> -->

                                    {% endif %}

                                </div>
                            </td>
                            <td>
                                {{ plugin.description|raw }}
                                <div class="plugin-details">
                                    By {{ plugin.author.name }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p style="text-align:right">{{ availablePlugins|length }} éléments</p>
            </div>
            <div class="inbox">
                <table class="table">
                    <caption>{{ trans('Available plugins') }}</caption>
                    <thead>
                    <tr>
                        <th>{{ trans('Extension') }}</th>
                        <th>{{ trans('Description') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for plugin in officialPlugins %}
                        <tr>
                            <td>
                                <strong>{{ plugin.title }}</strong>
                                <small>{{ plugin.version }}</small>
                                <div class="plugin-actions">
                                    <a href="{{ pathFor('downloadPlugin', {'name': plugin.name, 'version': plugin.version}) }}">Download</a>
                                </div>
                            </td>
                            <td>
                                {{ plugin.description|raw }}
                                <div class="plugin-details">
                                    By {{ plugin.author.name }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p style="text-align:right">{{ officialPlugins|length }} éléments</p>
            </div>
        </div>
    </div>

    <div class="clearer"></div>
    </div>

    {{ fireHook('view.admin.plugins.end') }}
{% endblock content %}
