{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.login.password_forgotten.start') }}

{#// If there are errors, we display them#}
    {% if errors is not empty %}

    <div id="posterror" class="block">
        <h2><span>{{ trans('New password errors') }}</span></h2>
        <div class="box">
            <div class="inbox error-info">
                <p>{{ trans('New passworderrors info') }}</p>
                <ul class="error-list">

                    {% for cur_error in errors %}
                    <li><strong>{{ cur_error }}</strong></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    {% endif %}

    <div class="blockform">
        <h2><span>{{ trans('Request pass') }}</span></h2>
        <div class="box">
            <form id="request_pass" method="post" action="{{ pathFor('resetPassword') }}" onsubmit="this.request_pass.disabled=true;if(process_form(this)){return true;}else{this.request_pass.disabled=false;return false;}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <div class="inform">
                    <fieldset>
                        <legend>{{ trans('Request pass legend') }}</legend>
                        <div class="infldset">
                            <input type="hidden" name="form_sent" value="1" />
                            <label class="required"><strong>{{ trans('Email') }} <span>{{ trans('Required') }}</span></strong><br />
                                <input id="req_email" type="text" name="req_email" size="50" maxlength="80" /><br /></label>
                            <p>{{ trans('Request pass info') }}</p>
                        </div>
                    </fieldset>
                </div>
                <p class="buttons"><input type="submit" name="request_pass" value="{{ trans('Submit') }}" />
                    {% if errors is empty %}
                    <a href="javascript:history.go(-1)">{{ trans('Go back') }}</a>
                    {% endif %}
                </p>
            </form>
        </div>
    </div>

    {{ fireHook('view.login.password_forgotten.end') }}
{% endblock content %}
