{% extends '@forum/layout.html.twig' %}

{% block content %}

    {#{% include '@forum/admin/menu.html.twig' %}#}

    {{ fireHook('view.admin.users.delete_users.start') }}

    <div class="blockform">
        <h2><span>{{ trans('Delete users') }}</span></h2>
        <div class="box">
            <form name="confirm_del_users" method="post" action="{{ pathFor('adminUsers') }}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <input type="hidden" name="users" value="{{ user_ids|join(',') }}
                <div class="inform">
                    <fieldset>
                        <legend>{{ trans('Confirm delete legend') }}</legend>
                        <div class="infldset">
                            <p>{{ trans('Confirm delete info') }}</p>
                            <div class="rbox">
                                <label><input type="checkbox" name="delete_posts" value="1" checked="checked" />{{ trans('Delete posts') }}<br /></label>
                            </div>
                            <p class="warntext"><strong>{{ trans('Delete warning') }}</strong></p>
                        </div>
                    </fieldset>
                </div>
                <p class="buttons"><input type="submit" name="delete_users_comply" value="{{ trans('Delete') }}" />
                    <a href="javascript:history.go(-1)">{{ trans('Go back') }}</a></p>
            </form>
        </div>
    </div>
    <div class="clearer"></div>
</div>

    {{ fireHook('view.admin.users.delete_users.end') }}
{% endblock content %}
