<style>
.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus {
    background-color: #337ab7;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
}

.login-tab {
    margin: 0 auto;
    max-width: 480px;
}

.login-modal {
    border-radius: 8px;
}
.login-modal-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #337ab7;
    color: #fff;
}

.login-modal-header .modal-title {
    color: #fff;
}

.login-modal-header .close {
    color: #fff;
}

.login-modal i {
    color: #000;
}

.login-modal form {
    max-width: 440px;
}

.tab-pane form {
    margin: 0 auto;
}
.login-modal-footer{
    margin-top:15px;
    margin-bottom:15px;
}
</style>

<script>
    $(document).ready(function(){
        $(document).on('click','.signup-tab',function(e){
            e.preventDefault();
            $('#signup-tab').tab('show');
        });

        $(document).on('click','.signin-tab',function(e){
            e.preventDefault();
            $('#signin-tab').tab('show');
        });

        $(document).on('click','.forgetpass-tab',function(e){
            e.preventDefault();
            $('#forgetpass-tab').tab('show');
        });
    });
</script>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content login-modal">
            <div class="modal-header login-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="loginModalLabel">USER AUTHENTICATION</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div role="tabpanel" class="login-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a id="signin-tab" href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ trans('Login') }}</a></li>
                            <li role="presentation"><a id="signup-tab" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">{{ trans('Register') }}</a></li>
                            <li role="presentation"><a id="forgetpass-tab" href="#forget_password" aria-controls="forget_password" role="tab" data-toggle="tab">{{ trans('Request pass') }}</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active text-center" id="home">
                                &nbsp;&nbsp;
                                <span id="login_fail" class="response_error" style="display: none;">Loggin failed, please try again.</span>
                                <div class="clearfix"></div>
                                <form id="login" method="post" action="{{ pathFor('login') }}" onsubmit="return process_form(this)">
                                    <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                                    <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" class="form-control" id="req_username" name="req_username" placeholder="{{ trans('Username') }}">
                                        </div>
                                        <span class="help-block has-error" id="email-error"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                            <input type="password" class="form-control" id="req_password" name="req_password" placeholder="{{ trans('Password') }}">
                                        </div>
                                        <span class="help-block has-error" id="password-error"></span>
                                    </div>

                                    <small><input type="checkbox" name="save_pass" value="1" tabindex="3" checked="checked" /> {{ trans('Remember me') }}<br /></small>

                                    <div class="clearfix"></div>
                                    <div class="login-modal-footer">
                                        <div class="row">
                                            <button type="submit" id="login_btn" class="btn btn-block bt-login" data-loading-text="Signing In....">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                &nbsp;&nbsp;
                                <span id="registration_fail" class="response_error" style="display: none;">Registration failed, please try again.</span>
                                <div class="clearfix"></div>
                                <form id="register" method="post" action="{{ pathFor('register') }}">
                                    <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                                    <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                                    <input type="hidden" name="form_sent" value="1" />
                                    <input type="hidden" name="username" value="" />
                                    <input type="hidden" name="password" value="" />
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" name="req_user" value="{{ inputPost('req_user') ? inputPost('req_user') : '' }}" class="form-control" id="req_user" maxlength="25" placeholder="{{ trans('Username') }}">
                                        </div>
                                        <span class="help-block has-error" data-error='0' id="username-error"></span>
                                    </div>
                                    {% if settings('o_regs_verify') == '0' %}
                                        <div class="form-group">
                                            <small>{{ trans('Pass info') }}</small>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                <input type="password" class="form-control" id="req_password1" name="req_password1" value="{{ inputPost('req_password1') ? inputPost('req_password1') : '' }}" placeholder="{{ trans('Password') }}">
                                            </div>
                                            <span class="help-block has-error" data-error='0' id="req_password1-error"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                <input type="password" class="form-control" id="req_password2" name="req_password2" value="{{ inputPost('req_password2') ? inputPost('req_password2') : '' }}" placeholder="{{ trans('Confirm pass') }}">
                                            </div>
                                            <span class="help-block has-error" data-error='0' id="req_password2-error"></span>
                                        </div>
                                    {% endif %}

                                    <div class="form-group">
                                        {% if settings('o_regs_verify') == '1' %}
                                            <span>{{ trans('Email info') }}</span>
                                        {% endif %}
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                            <input type="text" class="form-control" id="req_email1" name="req_email1" value="{{ inputPost('req_email1') ? inputPost('req_email1') : '' }}" maxlength="80" placeholder="{{ trans('Email') }}">
                                        </div>
                                        <span class="help-block has-error" data-error='0' id="femail-error"></span>
                                    </div>

                                    {% if settings('o_regs_verify') == '1' %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                            <input type="text" class="form-control" id="req_email2" name="req_email2" value="{{ inputPost('req_email2') ? inputPost('req_email2') : '' }}" maxlength="80" placeholder="{{ trans('Confirm email') }}">
                                        </div>
                                        <span class="help-block has-error" data-error='0' id="femail-error"></span>
                                    </div>
                                    {% endif %}

                                    {#// Only display the language selection box if there's more than one language available#}
                                    {% if languagesQSelect|length > 1 %}
                                        <div class="form-group">
                                            <small>{{ trans('Localisation legend') }}</small>
                                            <select class="form-control" id="sel1" name="language">
                                                {% for lang in languagesQSelect %}
                                                <option value="{{ lang.name }}"{{ settings('o_default_lang') == lang.name ? ' selected="selected"' }}>{{ lang.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <small>{{ trans(['Robot question', question[index_questions]]) }}</small>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-question"></i></div>
                                            <input name="captcha" id="captcha" type="text" class="form-control" maxlength="30" placeholder="{{ trans('Robot title') }}" />
                                            <input name="captcha_q" value="{{ qencoded }}" type="hidden" />
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="login-modal-footer">
                                        <div class="row">
                                            <button type="submit" id="register_btn" class="btn btn-block bt-login" data-loading-text="Registering....">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane text-center" id="forget_password">
                                &nbsp;&nbsp;
                                <span id="reset_fail" class="response_error" style="display: none;"></span>
                                <div class="clearfix"></div>
                                <form id="request_pass" method="post" action="{{ pathFor('resetPassword') }}">
                                    <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                                    <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                            <input type="text" class="form-control" id="femail" placeholder="{{ trans('Email') }}">
                                        </div>
                                        <span class="help-block has-error" data-error='0' id="femail-error"></span>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="login-modal-footer">
                                        <div class="row">
                                            <button type="submit" id="reset_btn" name="request_pass" class="btn btn-block bt-login" data-loading-text="Please wait....">Forget Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- /Login Modal -->
