{% extends '@forum/layout.html.twig' %}

{% block content %}
{{ fireHook('view.index.start') }}

{% for cat in index_data %}

        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-7 col-sm-7">
                </div>
                <div class="hidden-xs col-sm-1 text-center text-nowrap">
                    <span class="hidden-xs hidden-sm">{{ trans('Topics') }}</span>
                </div>
                <div class="hidden-xs col-sm-1 text-center text-nowrap">
                    <span class="hidden-xs hidden-sm">{{ trans('Posts') }}</span>
                </div>
                <div class="col-sm-2 text-center text-nowrap">
                    {{ trans('Last post') }}
                </div>
            </div>
        </div>
    {% if cat is not empty %}
        {% for forum in cat %}
        <div class="list-group">
            <div class="list-group-item {{ forum.item_status }}">
                <div class="row">
                    <div class="col-xs-7 col-sm-7">
                        <div class="media">
                            <div class="media-left media-middle {{ forum.icon_type }}">
                            </div>
                            <div class="media-body">
                                {{ forum.forum_field|raw }} {{ forum.moderators_formatted|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        {{ formatNumber(forum.num_topics_formatted) }}
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        {{ formatNumber(forum.num_posts_formatted) }}
                    </div>
                    <div class="col-sm-2">
                        {{ forum.last_post_formatted|raw }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="list-group">
            <div class="list-group-item {{ forum.item_status }}">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 text-center">
                        {{ trans('Empty board') }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>

{% endfor %}

    {% if forum_actions is not empty %}
    <div class="linksb">
        <div class="inbox crumbsplus">
            <p class="subscribelink clearb">{{ forum_actions|join(' ')|raw }}</p>
        </div>
    </div>
    {% endif %}



    <div id="brdstats" class="block">
        <h2><span>{{ trans('Board info') }}</span></h2>
        <div class="box">
            <div class="inbox">
                <dl class="conr">
                    <dt><strong>{{ trans('Board stats') }}</strong></dt>
                    <dd><span>{{ trans(['No of users', "<strong>#{ stats.total_users }</strong>"]) }}</span></dd>
                    <dd><span>{{ trans(['No of topics', "<strong>#{ stats.total_topics }</strong>"]) }}</span></dd>
                    <dd><span>{{ trans(['No of posts', "<strong>#{ stats.total_posts }</strong>"]) }}</span></dd>
                </dl>
                <dl class="conl">
                    <dt><strong>{{ trans('User info') }}</strong></dt>
                    <dd><span>{{ trans(['Newest user', "#{ stats.newest_user }"]) }}</span></dd>
                    {% if settings('o_users_online') == 1 %}
                    <dd><span>{{ trans(['Users online', "<strong>#{ online.num_users }</strong>"]) }}</span></dd>
                    <dd><span>{{ trans(['Guests online', "<strong>#{ online.num_guests }</strong>"]) }}</span></dd>
                    {% endif %}
                </dl>

                {% if settings('o_users_online') == 1 %}
                    {% if online.num_users > 0 %}
                        <dl id="onlinelist" class="clearb">
                            <dt><strong>{{ trans('Online') }} </strong></dt>
                            <dd>{{ online.users|join(',</dd> ')|raw }}</dd>
                        </dl>
                    {% endif %}
                {% endif %}

                {{ fireHook('view.index.brdstats') }}

            </div>
        </div>
    </div>

{{ fireHook('view.index.end') }}
{% endblock content %}
