{% extends '@forum/layout.html.twig' %}

{% block content %}
    {{ fireHook('view.userlist.start') }}

<div class="blockform">
    <h2><span>{{ trans('User search') }}</span></h2>
    <div class="box">
        <form id="userlist" method="get" action="">
            <div class="inform">
                <fieldset>
                    <legend>{{ trans('User find legend') }}</legend>
                    <div class="infldset">
{% if userGet('g_search_users') == '1' %}
                        <label class="conl">{{ trans('Username') }}<br />
                            <input type="text" name="username" value="{{ username }}" size="25" maxlength="25" /><br />
                        </label>
{% endif %}
                        <label class="conl">{{ trans('User group') }}<br />
                            <select name="show_group">
                                <option value="-1"{{ show_group == -1 ? ' selected="selected"' : '' }}>
                                    {{ trans('All users') }}
                                </option>
                            {{ dropdown_menu|raw }}
                        </select>
                        <br /></label>
                        <label class="conl">{{ trans('Sort by') }}
                        <br /><select name="sort_by">
                            <option value="username"
                                {{ sort_by == 'username' ? ' selected="selected"' : '' }}>
                                    {{ trans('Username') }}
                                </option>
                            <option value="registered"
                                {{ sort_by == 'registered' ? ' selected="selected"' : ''}}>
                                    {{ trans('Registered') }}
                                </option>
            {% if show_post_count %}
                            <option value="num_posts"
                                {{ sort_by == 'num_posts' ? ' selected="selected"' : '' }}>
                                    {{ trans('No of posts') }}
                                </option>
            {% endif %}
                            </select>
                        <br /></label>
                        <label class="conl">{{ trans('Sort order') }}
                        <br /><select name="sort_dir">
                            <option value="ASC"{{ sort_dir == 'ASC' ? ' selected="selected"' : '' }}>
                                {{ trans('Ascending') }}
                            </option>
                            <option value="DESC"{{ sort_dir == 'DESC' ? ' selected="selected"' : '' }}>
                                {{ trans('Descending') }}</option>
                        </select>
                        <br /></label>
                        <p class="clearb">
                            {{ userGet('g_search_users') == '1' ? trans('User search info') : '' }}
                            {{ trans('User sort info') }}
                        </p>
                    </div>
                </fieldset>
            </div>
            <p class="buttons"><input type="submit" name="search" value="{{ trans('Submit') }}" accesskey="s" /></p>
        </form>
    </div>
</div>

<div class="linkst">
    <div class="inbox">
        <p class="pagelink">{{ paging_links|raw }}</p>
        <div class="clearer"></div>
    </div>
</div>

<div id="users1" class="blocktable">
    <h2><span>{{ trans('User list') }}</span></h2>
    <div class="box">
        <div class="inbox">
            <table>
            <thead>
                <tr>
                    <th class="tcl" scope="col">{{ trans('Username') }}</th>
                    <th class="tc2" scope="col">{{ trans('Title') }}</th>
    {% if show_post_count %}
                    <th class="tc3" scope="col">{{ trans('Posts') }}</th>
    {% endif %}
                    <th class="tcr" scope="col">{{ trans('Registered') }}</th>
                </tr>
            </thead>
            <tbody>


            {% for user in userlist_data %}
                    <tr>
                        <td class="tcl">
                            <a href="{{ pathFor('userProfile', {'id': "#{ user.id }"}) }}">{{ user.username }}</a>
                        </td>
                        <td class="tc2">
                            {{ formatTitle(user.title, user.username, user.g_user_title, user.g_id) }}
                        </td>
                {% if show_post_count %}
                        <td class="tc3">
                            {{ formatNumber(user.num_posts) }}
                        </td>
                {% endif %}
                        <td class="tcr">
                            {{ formatTime(user.registered, true) }}
                        </td>
                    </tr>

            {% endfor %}

            {% if userlist_data is empty %}
                <tr>
            <td class="tcl" colspan="{{ show_post_count ? 4 : 3 }}">{{ trans('No hits') }}</td></tr>
            {% endif %}

            </tbody>
            </table>
        </div>
    </div>
</div>

<div class="linksb">
    <div class="inbox">
        <p class="pagelink">{{ paging_links|raw }}</p>
        <div class="clearer"></div>
    </div>
</div>

    {{ fireHook('view.userlist.end') }}
{% endblock content %}
