{{ fireHook('view.search.footer.start') }}

{% if footer.show_as == 'topics' %}

            </tbody>
        </table>
        </div>
    </div>
</div>

{% endif %}

<div class="postlinksb">
    <div class="inbox crumbsplus">
        <div class="pagepost">
            <p class="pagelink">{{ footer.paging_links|raw }}</p>
        </div>
        <ul class="crumbs">
            <li><a href="{{ urlBase() }}">{{ trans('Index') }}</a></li>
            <li><span>»&#160;</span><a href="{{ pathFor('search') }}">{{ footer.crumbs_text.show_as }}</a></li>
            <li><span>»&#160;</span><strong>{{ footer.crumbs_text.search_type|raw }}</strong></li>
        </ul>
{{ footer.forum_actions is not empty ? "\t\t" ~'<p class="subscribelink clearb">' ~footer.forum_actions|join(' - ') ~'</p>' ~"\n" : '' }}
        <div class="clearer"></div>
    </div>
</div>

{{ fireHook('view.search.footer.end') }}
