{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.search.form.start') }}

<div id="searchform" class="blockform">
    <h2><span>{{ trans('Search') }}</span></h2>
    <div class="box">
        <form id="search" method="get" action="{{ pathFor('search') }}">
            <div class="inform">
                <fieldset>
                    <legend>{{ trans('Search criteria legend') }}</legend>
                    <div class="infldset">
                        <input type="hidden" name="action" value="search" />
                        <label class="conl">{{ trans('Keyword search') }}<br />
                            <input type="text" name="keywords" size="40" maxlength="100" /><br />
                        </label>
                        <label class="conl">{{ trans('Author search') }}<br />
                            <input id="author" type="text" name="author" size="25" maxlength="25" /><br />
                        </label>
                        <p class="clearb">{{ trans('Search info') }}</p>
                    </div>
                </fieldset>
            </div>
            <div class="inform">
                <fieldset>
                    <legend>{{ trans('Search in legend') }}</legend>
                    <div class="infldset">
                    {{ forums|raw }}
                        <label class="conl">{{ trans('Search in') }}
                        <br /><select id="search_in" name="search_in">
                            <option value="0">{{ trans('Message and subject') }}</option>
                            <option value="1">{{ trans('Message only') }}</option>
                            <option value="-1">{{ trans('Topic only') }}</option>
                        </select>
                        <br /></label>
                        <p class="clearl">{{ trans('Search in info') }}</p>
                        {{ settings('o_search_all_forums') == '1' or isAdminMod() ? trans('Search multiple forums info')|raw : '' }}
                    </div>
                </fieldset>
            </div>
            <div class="inform">
                <fieldset>
                    <legend>{{ trans('Search results legend') }}</legend>
                    <div class="infldset">
                        <label class="conl">{{ trans('Sort by') }}
                        <br /><select name="sort_by">
                            <option value="0">{{ trans('Sort by post time') }}</option>
                            <option value="1">{{ trans('Sort by author') }}</option>
                            <option value="2">{{ trans('Sort by subject') }}</option>
                            <option value="3">{{ trans('Sort by forum') }}</option>
                        </select>
                        <br /></label>
                        <label class="conl">{{ trans('Sort order') }}
                        <br /><select name="sort_dir">
                            <option value="DESC">{{ trans('Descending') }}</option>
                            <option value="ASC">{{ trans('Ascending') }}</option>
                        </select>
                        <br /></label>
                        <label class="conl">{{ trans('Show as') }}
                        <br /><select name="show_as">
                            <option value="topics">{{ trans('Show as topics') }}</option>
                            <option value="posts">{{ trans('Show as posts') }}</option>
                        </select>
                        <br /></label>
                        <p class="clearb">{{ trans('Search results info') }}</p>
                    </div>
                </fieldset>
            </div>
            <p class="buttons"><input type="submit" name="search" value="{{ trans('Submit') }}" accesskey="s" /></p>
        </form>
    </div>
</div>

    {{ fireHook('view.search.form.end') }}
{% endblock content %}
