{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.register.rules.start') }}

<div id="rules" class="blockform">
    <div class="hd"><h2><span>{{ trans('Forum rules') }}</span></h2></div>
    <div class="box">
        <form method="get" action="{{ pathFor('register') }}">
            <div class="inform">
                <fieldset>
                    <legend>{{ trans('Rules legend') }}</legend>
                    <div class="infldset">
                        <div class="usercontent">{{ settings('o_rules_message') }}</div>
                    </div>
                </fieldset>
            </div>
            <p class="buttons">
                <input type="submit" name="agree" value="{{ trans('Agree') }}" />
                <input type="submit" name="cancel" value="{{ trans('Cancel') }}" />
            </p>
        </form>
    </div>
</div>

    {{ fireHook('view.register.rules.end') }}
{% endblock content %}
