{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.admin.bans.search.start') }}

    <div class="linkst">
        <div class="inbox crumbsplus">
            <ul class="crumbs">
                <li><a href="{{ pathFor('adminIndex') }}">{{ trans('Admin') }} {{ trans('Index') }}</a></li>
                <li><span>»&#160;</span><a href="{{ pathFor('addBan') }}">{{ trans('Bans') }}</a></li>
                <li><span>»&#160;</span><strong>{{ trans('Results head') }}</strong></li>
            </ul>
            <div class="pagepost">
                <p class="pagelink">{{ paging_links|raw }}</p>
            </div>
            <div class="clearer"></div>
        </div>
    </div>


    <div id="bans1" class="blocktable">
        <h2><span>{{ trans('Results head') }}</span></h2>
        <div class="box">
            <div class="inbox">
                <table>
                    <thead>
                    <tr>
                        <th class="tcl" scope="col">{{ trans('Results username head') }}</th>
                        <th class="tc2" scope="col">{{ trans('Results e-mail head') }}</th>
                        <th class="tc3" scope="col">{{ trans('Results IP address head') }}</th>
                        <th class="tc4" scope="col">{{ trans('Results expire head') }}</th>
                        <th class="tc5" scope="col">{{ trans('Results message head') }}</th>
                        <th class="tc6" scope="col">{{ trans('Results banned by head') }}</th>
                        <th class="tcr" scope="col">{{ trans('Results actions head') }}</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for cur_ban in ban_data %}

                        <tr>
                            <td class="tcl">{{ cur_ban.username != '' ? cur_ban.username : '&#160;' }}</td>
                            <td class="tc2">{{ cur_ban.email != '' ? cur_ban.email : '&#160;' }}</td>
                            <td class="tc3">{{ cur_ban.ip != '' ? cur_ban.ip : '&#160;' }}</td>
                            <td class="tc4">{{ formatTime(cur_ban.expire, true) }}</td>
                            <td class="tc5">{{ cur_ban.message != '' ? cur_ban.message : '&#160;' }}</td>
                            <td class="tc6">{{ cur_ban.ban_creator_username != ''
                                ? ('<a href="' ~pathFor('userProfile', {'id': cur_ban.ban_creator}) ~'">' ~cur_ban.ban_creator_username ~'</a>')|raw
                                : trans('Unknown') }}</td>
                            <td class="tcr"><a
                                        href="{{ pathFor('editBan', {'id': cur_ban.id}) }}">{{ trans('Edit') }}</a> |
                                <a href="{{ pathFor('deleteBan', {'id': cur_ban.id}) }}">{{ trans('Remove') }}</a></td>
                        </tr>

                    {% endfor %}

                    {% if ban_data is empty %}
                        <tr>
                            <td class="tcl" colspan="7">{{ trans('No match') }}</td>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="linksb">
        <div class="inbox crumbsplus">
            <div class="pagepost">
                <p class="pagelink">{{ paging_links|raw }}</p>
            </div>
            <ul class="crumbs">
                <li><a href="{{ pathFor('adminIndex') }}">{{ trans('Admin') }} {{ trans('Index') }}</a></li>
                <li><span>»&#160;</span><a href="{{ pathFor('adminBans') }}">{{ trans('Bans') }}</a></li>
                <li><span>»&#160;</span><strong>{{ trans('Results head') }}</strong></li>
            </ul>
            <div class="clearer"></div>
        </div>
    </div>


    {{ fireHook('view.admin.bans.search.end') }}
{% endblock content %}
