{% extends '@forum/layout.html.twig' %}

{% block content %}
{{ fireHook('view.moderate.merge_topics.start') }}

    <form class="panel panel-primary" method="post" action="">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <input type="hidden" name="topics" value="{{ topics|keys|join(',') }}" />

        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Merge topics') }}</h3>
        </div>

        <div id="vf" class="list-group-item">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <fieldset>
                        <legend>{{ trans('Confirm merge legend') }}</legend>
                        <div class="infldset">
                            <div class="rbox">
                                <label>
                                    <input type="checkbox" name="with_redirect" value="1" />{{ trans('Leave redirect') }}<br />
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="merge_topics_comply" value="{{ trans('Merge') }}" />
            <a class="btn btn-primary" href="javascript:history.go(-1)">{{ trans('Go back') }}</a>
        </div>
    </form>

{{ fireHook('view.moderate.merge_topics.end') }}
{% endblock content %}
