{% extends '@forum/layout.html.twig' %}

{% block content %}
{{ fireHook('view.moderate.moderator_forum.start') }}

    <div class="linkst">
        <div class="inbox crumbsplus">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-sm-8">
                        <ul class="crumbs">
                            <li><a href="{{ pathFor('home') }}">{{ trans('Index') }}</a></li>
                            <li><span>»&#160;</span><a href="{{ pathFor('Forum', {'id': id, 'name': url_forum}) }}">{{ cur_forum.forum_name }}</a></li>
                            <li><span>»&#160;</span><strong>{{ trans('Moderate') }}</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pagepost">
                <p class="pagelink conl">{{ paging_links|raw }}</p>
            </div>
            <div class="clearer"></div>
        </div>
    </div>

    <form method="post" action="{{ pathFor('dealPosts', {'fid': id, 'page': p}) }}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <input type="hidden" name="page" value="{{ p }}"/>

        <div id="vf" class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-7 col-sm-7">
                        <h3 class="panel-title">{{ cur_forum.forum_name }}</h3>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        <span class="hidden-xs hidden-sm">{{ trans('Replies') }}</span>
                    </div>
                    {% if settings('o_topic_views') == '1' %}
                        <div class="hidden-xs col-sm-1 text-center text-nowrap">
                            <span class="hidden-xs hidden-sm">{{ trans('Views') }}</span>
                        </div>
                    {% endif %}
                    <div class="col-sm-2 text-center text-nowrap">
                        {{ trans('Last post') }}
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        <span class="hidden-xs hidden-sm">{{ trans('Select') }}</span>
                    </div>
                </div>
            </div>
            <div class="list-group">
            {% if topic_data is not empty %}
                {% for topic in topic_data %}
                <div class="list-group-item">
                    <div class="row {{ topic.item_status }}">
                        <div class="col-xs-7 col-sm-7">
                            <div class="{{ topic.icon_type }}">
                                <div class="nosize">{{ formatNumber(loop.index + start_from) }}</div>
                            </div>
                            <div class="tclcon">
                                <div>
                                    {{ topic.subject_disp|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap">
                            <span class="hidden-xs hidden-sm">
                                {{ topic.ghost_topic == false ? formatNumber(topic.num_replies) : '-' }}
                            </span>
                        </div>
                        {% if settings('o_topic_views') == '1' %}
                            <div class="hidden-xs col-sm-1 text-center text-nowrap">
                                {{ topic.ghost_topic == false ? formatNumber(topic.num_views) : '-' }}
                            </div>
                        {% endif %}
                        <div class="col-sm-2 text-center text-nowrap">
                            {{ topic.last_post_disp|raw }}
                        </div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap">
                            <span class="hidden-xs hidden-sm">
                                <input type="checkbox" name="topics[{{ topic.id }}]" value="1"/>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 text-center">
                            {{ trans('Empty forum') }}
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="panel-footer text-right">
                <input class="btn btn-primary" type="submit" name="move_topics" value="{{ trans('Move') }}"{{ button_status }} />
                <input class="btn btn-primary" type="submit" name="delete_topics" value="{{ trans('Delete') }}"{{ button_status }} />
                <input class="btn btn-primary" type="submit" name="merge_topics" value="{{ trans('Merge') }}"{{ button_status }} />
                <input class="btn btn-primary" type="submit" name="open" value="{{ trans('Open') }}"{{ button_status }} />
                <input class="btn btn-primary" type="submit" name="close" value="{{ trans('Close') }}"{{ button_status }} />
            </div>
        </div>

        <div class="linksb">
            <div class="inbox crumbsplus">
                <div class="pagepost">
                    <p class="pagelink conl">{{ paging_links|raw }}</p>
                </div>
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-sm-8">
                            <ul class="crumbs">
                                <li><a href="{{ pathFor('home') }}">{{ trans('Index') }}</a></li>
                                <li><span>»&#160;</span><a href="{{ pathFor('Forum', {'id': id, 'name': url_forum}) }}">{{ cur_forum.forum_name }}</a></li>
                                <li><span>»&#160;</span><strong>{{ trans('Moderate') }}</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearer"></div>
            </div>
        </div>
    </form>

{{ fireHook('view.moderate.moderator_forum.end') }}
{% endblock content %}
