{% extends '@forum/layout.html.twig' %}

{% block content %}

    {% include '@forum/admin/menu.html.twig' %}

    {{ fireHook('view.admin.groups.delete_group.start') }}

    <div class="blockform">
        <h2><span>{{ trans('Delete group head') }}</span></h2>
        <div class="box">
            <form id="groups" method="post" action="{{ pathFor('deleteGroup', {'id': id}) }}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <div class="inform">
                    <fieldset>
                        <legend>{{ trans('Move users subhead') }}</legend>
                        <div class="infldset">
                            <p>{{ trans(['Move users info', group_info.title, formatNumber(group_info.members)]) }}</p>
                            <label>{{ trans('Move users label') }}
                            <select name="move_to_group">
                                {{ group_list_delete|raw }}
                            </select>
                            <br />
                            </label>
                        </div>
                    </fieldset>
                </div>
                <p class="buttons"><input type="submit" name="del_group" value="{{ trans('Delete group') }}" />
                    <a href="javascript:history.go(-1)">{{ trans('Go back') }}</a></p>
            </form>
        </div>
    </div>
    <div class="clearer"></div>
</div>

    {{ fireHook('view.admin.groups.delete_group.end') }}
{% endblock content %}
