{{ fireHook('view.profile.menu.start') }}

<div id="profile" class="block2col">
    <div class="blockmenu">
        <h2><span>{{ trans('Profile menu') }}</span></h2>
        <div class="box">
            <div class="inbox">
                <ul>
                    <li{{ page == 'essentials' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'essentials'}) }}">{{ trans('Section essentials') }}</a>
                    </li>
                    <li{{ page == 'personal' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'personal'}) }}">{{ trans('Section personal') }}</a>
                    </li>
                    <li{{ page == 'messaging' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'messaging'}) }}">{{ trans('Section messaging') }}</a>
                    </li>
        {% if settings('o_avatars') == '1' or settings('o_signatures') == '1' %}
                    <li{{ page == 'personality' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'personality'}) }}">{{ trans('Section personality') }}</a>
                    </li>
        {% endif %}
                    <li{{ page == 'display' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'display'}) }}">{{ trans('Section display') }}</a>
                    </li>
                    <li{{ page == 'privacy' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'privacy'}) }}">{{ trans('Section privacy') }}</a>
                    </li>
        {% if userGet('g_id') == getEnv('FEATHER_ADMIN') or (userGet('g_moderator') == '1' and userGet('g_mod_ban_users') == '1') %}
                    <li{{ page == 'admin' ? ' class="isactive"' : '' }}>
                        <a href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'admin'}) }}">{{ trans('Section admin') }}</a>
                    </li>
        {% endif %}

                </ul>
            </div>
        </div>
    </div>

    {{ fireHook('view.profile.menu.end') }}
