{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.profile.section_messaging.start') }}

    {% include '@forum/profile/menu.html.twig' %}

<div class="blockform">
    <h2><span>{{ user.username }} - {{ trans('Section messaging') }}</span></h2>
    <div class="box">
        <form id="profile3" method="post" action="{{ pathFor('profileSection', {'id': id, 'section': 'messaging'}) }}">
            <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
            <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
            <div class="inform">
                <fieldset>
                    <legend>{{ trans('Contact details legend') }}</legend>
                    <div class="infldset">
                        <input type="hidden" name="form_sent" value="1" />
                        <label>{{ trans('Jabber') }}<br /><input id="jabber" type="text" name="form_jabber" value="{{ user.jabber }}" size="40" maxlength="75" /><br /></label>
                        <label>{{ trans('ICQ') }}<br /><input id="icq" type="text" name="form_icq" value="{{ user.icq }}" size="12" maxlength="12" /><br /></label>
                        <label>{{ trans('MSN') }}<br /><input id="msn" type="text" name="form_msn" value="{{ user.msn }}" size="40" maxlength="50" /><br /></label>
                        <label>{{ trans('AOL IM') }}<br /><input id="aim" type="text" name="form_aim" value="{{ user.aim }}" size="20" maxlength="30" /><br /></label>
                        <label>{{ trans('Yahoo') }}<br /><input id="yahoo" type="text" name="form_yahoo" value="{{ user.yahoo }}" size="20" maxlength="30" /><br /></label>
                    </div>
                </fieldset>
            </div>
            <p class="buttons"><input type="submit" name="update" value="{{ trans('Submit') }}" /> {{ trans('Instructions') }}</p>
        </form>
    </div>
</div>
    <div class="clearer"></div>
</div>

    {{ fireHook('view.profile.section_messaging.start') }}
{% endblock content %}
