{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.profile.section_privacy.start') }}

    {% include '@forum/profile/menu.html.twig' %}

<div class="blockform">
    <h2><span>{{ user.username }} - {{ trans('Section privacy') }}</span></h2>
    <div class="box">
        <form id="profile6" method="post" action="{{ pathFor('profileSection', {'id': id, 'section': 'privacy'}) }}">
            <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
            <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
            <div class="inform">
                <fieldset>
                    <legend>{{ trans('Privacy options legend') }}</legend>
                    <div class="infldset">
                        <input type="hidden" name="form_sent" value="1" />
                        <p>{{ trans('Email setting info') }}</p>
                        <div class="rbox">
                            <label><input type="radio" name="form_email_setting" value="0"{{ user.email_setting == '0' ? ' checked="checked"' : '' }}/>
                                {{ trans('Email setting 1') }}<br /></label>
                            <label><input type="radio" name="form_email_setting" value="1"{{ user.email_setting == '1' ? ' checked="checked"' : '' }}/>
                                {{ trans('Email setting 2') }}<br /></label>
                            <label><input type="radio" name="form_email_setting" value="2"
                                {{ user.email_setting == '2' ? ' checked="checked"' : '' }}/>
                                {{ trans('Email setting 3') }}<br /></label>
                        </div>
                    </div>
                </fieldset>
            </div>
    {% if settings('o_forum_subscriptions') == '1' or settings('o_topic_subscriptions') == '1' %}
            <div class="inform">
                <fieldset>
                    <legend>{{ trans('Subscription legend') }}</legend>
                    <div class="infldset">
                        <div class="rbox">
                            <label><input type="checkbox" name="form_notify_with_post" value="1"{{ user.notify_with_post == '1' ? ' checked="checked"' : '' }}/>
                                {{ trans('Notify full') }}<br /></label>
                {% if settings('o_topic_subscriptions') == '1' %}
                            <label><input type="checkbox" name="form_auto_notify" value="1"{{ user.auto_notify == '1' ? ' checked="checked"' : '' }}/>{{ trans('Auto notify full') }}<br /></label>
                {% endif %}
                        </div>
                    </div>
                </fieldset>
            </div>
    {% endif %}
            <p class="buttons"><input type="submit" name="update" value="{{ trans('Submit') }}" /> {{ trans('Instructions') }}</p>
        </form>
    </div>
</div>
    <div class="clearer"></div>
</div>

    {{ fireHook('view.profile.section_privacy.end') }}
{% endblock content %}
